<header>
    <link rel="stylesheet" href="/css/footer.css">
</header>

<div class="footer">

    
    <div class="footer__form">
        <form action="" class="price">
            <h5>Gửi báo giá</h5>
            <input type="text" placeholder="Họ tên">
            <input type="text" placeholder="Số điện thoại">
            <input type="submit" style="color: #FFF;">
        </form>
    </div>

    <div class="footer__info">
        <div class="footer__info--items">
             <h4>Công ty TNHH phiên dịch và đào tạo Vạn Tín</h4> 
             <p>
                 Trải qua nhiều năm hoạt động ở lĩnh vực dịch vụ dịch thuật đa ngôn ngữ chuyên nghiệp, 
                 chúng tôi hiểu rằng đạo đức nghề nghiệp và sự tin tưởng của khách hàng là hai điều cốt yếu mà tất cả doanh nghiệp cần phải hướng đến...
             </p>
        </div>
        <div class="footer__info--items"> 
            <h4>Trụ sở chính</h4> 
            <p> SN32, Ngõ 181 Hà Đông, tp Hà Nội </p>
            <p> 0123.456.789</p>
            <p>cskh@abc.com</p>
        </div>
        <div class="footer__info--items"> 
            <h4>Văn phòng Hà Nội</h4> 
            <p> Phòng 902, tầng 9, Tòa nhà văn phòng 169 Nguyễn Ngọc Vũ, Cầu Giấy HN </p>
            <p> 0123.456.789</p>
            <p>cskh@abc.com</p>
        </div>
        <div class="footer__info--items"> 
            <h4>Văn phòng Hồ Chí Minh</h4> 
            <p> Phòng 902, tầng 9, Tòa nhà văn phòng 169 Nguyễn Ngọc Vũ, Cầu Giấy HN </p>
            <p> 0123.456.789</p>
            <p>cskh@abc.com</p>
        </div>
    </div>

</div>

<div class="footer__connect">
    <p> Copyright © 2019 Vạn Tín </p>
</div>
