<style>
    .footer__connect {
    background-color: #005493;
    height: 45px;
    padding: 0 1%;
}

    .footer__connect p {
        color: #FFF;
        line-height: 45px;
    }


</style>

<div class="footer__connect">
    <p> Copyright © 2019 Vạn Tín </p>
</div>
