
<head>
  <link rel="stylesheet" href="/css/header-admin.css">
</head>

<div class="header">

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      {{!-- <div class="log-out">
        <button>Log Out</button>
      </div> --}}

</div>