<a class="sys" href="/quan-ly-chung/them-folder-tai-lieu">Thêm mới folder tài liệu</a> 

<br>

<a class="sys" href="/quan-ly-chung/them-phong">Thêm mới phòng ban</a>
<br>

<a class="sys" href="/quan-ly-chung">Quản lý tài khoản</a>

<style>

    a.sys {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 23px;
        border: gray 1px solid;
        margin: 40px 0;
        color: #000;
        min-width: 50px;
    }

</style>